<header class="main-header">
    <div class="logo">La RIbera Store</div>
    <nav class="main-nav">
        <ul>
            <li><a href="/">Inicio</a></li>
            <li><a href="/personas">Personas</a></li>
            <li><a href="/registrarse">Registrarse</a></li>
        </ul>
    </nav>
</header>